<template>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <!-- Logo -->
      <div class="header-logo">
        <a href="/">
          <img src="/img/icons/ubuntu-touch-logo.svg" alt="ubuntu-touch-logo">
        </a>
      </div>

      <!-- Nav -->
      <div class="header-nav">
        <div class="container">
          <b-collapse id="headerNav" class="collapse fade">
            <!-- Open Store -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://open-store.io/">
                Open Store <img class="angle-icon d-lg-none" src="/img/icons/angle-icon.svg" alt="angle-icon">
              </a>
            </div>


            <!-- About Ubuntu Touch -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://ubuntu-touch.io/">
                About Ubuntu Touch <img class="angle-icon d-lg-none" src="/img/icons/angle-icon.svg" alt="angle-icon">
              </a>
            </div>


            <!-- UBports Foundation -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://ubports.com/">
                UBports Foundation <img class="angle-icon d-lg-none" src="/img/icons/angle-icon.svg" alt="angle-icon">
              </a>
            </div>

            <!-- Donate -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://ubports.com/donate">
                Donate  <img class="angle-icon d-lg-none" src="/img/icons/angle-icon.svg" alt="angle-icon">
              </a>
            </div>
          </b-collapse>
        </div>
      </div>

      <!-- Hamburger -->
      <div class="header-hamburger">
        <a v-b-toggle.headerNav @click="mobileOpen">
          <img src="/img/icons/hamburger.svg" alt="hamburger-icon">
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import { BCollapse, VBToggle } from "bootstrap-vue";

export default {
  name: "Header",
  components: {
    BCollapse
  },
  directives: {
    "b-toggle": VBToggle
  },
  methods: {
    setOpenMenu(e) {
      let isDesktop = window.innerWidth > 991;
      if (this.openMenu == menuToOpen) {
        if (isDesktop) this.$emit("navbar-closed");
      } else {
        if (isDesktop) this.$emit("navbar-opened");
      }
    },
    mobileOpen() {
      this.$emit(this.openMobileMenu ? "navbarOpened" : "navbarClosed");
    }
  }
};
</script>
